<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <style>
body {background-color: powderblue;}
</style>
</head>
</head>
<body >
<nav class="navbar navbar-dark bg-dark">
    <div class = "container">
    <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" href="#">WELCOME TO RAYAN CULTURAL CENTER </a>
          </li>
    </ul>

    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" href="/home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">About us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contact us</a>
        </li>

    </ul>
       <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">VIDEOS
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Music</a></li>
            <li><a href="#">Drama</a></li>
            <li><a href="#">Documentary</a></li>
          </ul>
        </div>


    <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" href="/signup">SignUp</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/accounts/login">LogIn</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/accounts/logout">LogOut</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
    </ul>
  </div>
</nav>
 {%block body-block%}
{%endblock%}
</body>
</html>